<!-- BULLETPROOF BUTTON -->
<tr>
  <td bgcolor="#ffffff" align="left">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 40px 30px 40px 30px;">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" style="border-radius: 3px;" bgcolor="#40789B">
                <a href="<%= link %>" target="_blank" style="font-size: 20px; font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #40789B; display: inline-block;">
                  <%= button_text %>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
