<!-- COPY -->
<tr>
  <td bgcolor="#ffffff" align="left" style="padding: 10px 30px 10px 30px; color: #666666; font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;" >
    <p style="margin: 0;">
      <%= yield %>
    </p>
  </td>
</tr>
